<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="D:/Coding/Selenium-Java-Projects/Udemy_project_v1/SeleniumFrameworkDesign">
        <classes>
            <class name="org.example.tests.ErrorValidations">
                <methods>
                    <include name="LoginErrorValidation"/>
                    <include name="ProductErrorValidations"/>
                </methods>
            </class>
<!--            <class name="org.example.tests.StandAloneTestPageFactory">-->
<!--                <methods>-->
<!--                    <include name="submitOrder"/>-->
<!--                </methods>-->
<!--            </class>-->
        </classes>
    </test>
</suite>